<!DOCTYPE html>
<html lang="fr">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <!-- CONNEXION -->
            <div class="connexion-contenant">
                <form action="/modifier-details" method="POST">
                    <h1 class="titre-password">Modifier <br> mes informations</h1>

                    <!-- PRÉNOM -->
                    <div class="email-box">
                        <label id="connexionText-i" for="prenom">Prénom</label>
                        <input type="text" id="prenom" name="prenom" value="<%= user.prenom %>" required>
                    </div>

                    <!-- NOM -->
                    <div class="email-box">
                        <label id="connexionText-i" for="nom">Nom</label>
                        <input type="text" id="nom" name="nom" value="<%= user.nom %>" required>
                    </div>

                    <!-- EMAIL -->
                    <div class="email-box">
                        <label id="connexionText-i" for="email">Email</label>
                        <input type="email" id="email" name="email" value="<%= user.email %>" required>
                        <p id="email-error" style="color: red; display: none; font-size: 14px; margin-top: 5px;">
                            Email invalide. Veuillez entrer un courriel valide.
                        </p>
                    </div>

                    <!-- BUTTON -->
                    <div class="button-container">
                        <button type="submit" id="btnInscription">Enregistrer les modifications</button>
                        <a href="/mon-compte" class="lien-inscription">Retour à mon compte</a>
                    </div>
                </form>
            </div>

            <%- include("../partials/footer.ejs") %>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var email = document.getElementById("email");
            var emailError = document.getElementById("email-error");
            var btnInscription = document.getElementById("btnInscription");
            function validateEmail() {
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email.value)) {
                    emailError.style.display = "block";
                    
                } else {
                    emailError.style.display = "none";
                    validateForm();
                }
            }
            email.addEventListener("input", validateEmail);

        });
    </script>

</html>